.emptyCart{
    position: relative; display: inline-block; text-align: center;
}

.emptyCart .example{
    width: 200px; height: 350px; padding-top: 130px;
}

.emptyCart .example .icon{
    font-size: 400%;
}

.cart-page-submit{
    width: 100%;margin: 0; border-radius: 0; background-color: #0c91e5; color: #fff !important;
}

.cart-page-submit:hover{
    width: 100%;margin: 0; border-radius: 0; background-color: #3b4ec5;
}


.orders .items{
    float: left; margin: 2px 2px 0 0;
}

.orderStatus{
    background: #eaeaea; border-radius: 0; float: left; padding: 10px 15px; border-radius: 12px;
}