.overflow{overflow: hidden;}
.pointer{
    cursor: pointer;
}
.navbar{
    background: #fff;
}
a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}
.product-item{margin: 0;}
.navbar-header {overflow: hidden;}

.menu-item a:hover{
    text-decoration: none !important;
}
a .btn:hover{
    text-decoration: none;
}
.btn-bold{
    border: #333 2px solid;
}

hr.line1{
    border: none;
    background: transparent url(/web/img/line-png-32.png) no-repeat center center;
    padding: 10px;
    opacity: .6;
}

hr.line2{
    border: none;
    background: transparent url(/web/img/4u9cfa.png) no-repeat center center;
    padding: 50px;
    opacity: .6;
}

hr.line3{
    border: none;
    border-top: transparent 20px solid;
    background: transparent url(/web/img/fancyline1.png) no-repeat center center/contain;
    padding: 20px 0 0 ;
    opacity: .6;
}

.btn-icon-only.btn-circle{
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
}

.hiddenFilter{
    visibility: hidden;
}

.filterPostsStore{
    padding-bottom: 20px;
}

.section-element{
    margin: 0 !important;
}

.filterPostsStore div:first-child{
    cursor: pointer;
}
.filterPostsStore .btn{
    margin: 3px 5px 0 0;
}
.filterPostsStore .btn.on{
    border-color: #333 !important; font-weight: bold;
}

button.gender{
    border: none; cursor: default;

}
button.gender:hover{
    border: none;

}

.tool{
    height: 50px; background-color: transparent;  list-style-type: none;
    text-align: center; line-height: 45px; font-size: 150%; min-width: 50px;
}
#CatalogFilterModal .genderBlock {border-right: orange 1px solid;}
#CatalogFilterModal .genderBlock:last-child {border: none;}
#CatalogFilterModal .tool {opacity: .3;}
#CatalogFilterModal .tool.on {opacity: 1;}
.filterPostsStore .gender.on{
    border-color: #333;
}
.gender.boy{
    background: transparent url(/web/img/boy_girl.png) no-repeat center 2px;
}
.gender.girl{
    background: transparent url(/web/img/boy_girl.png) no-repeat center -56px;
}
.gender.girl_boy{
    background: transparent url(/web/img/boy_girl.png) no-repeat center -128px;min-width: 70px;
}


.product-item .main-img{
    position: relative;
}
.product-item .main-img .article{
    position: absolute;
    right: 0px;
    top: 10px;
    font-size: 130%;
    padding: 10px 10px !important;
    background: #fff;
    color: #333;
}

#AuthBlock{
    padding: 10px 0;
    z-index: 1;
}

#AuthBlock ul{
    padding: 0;
    margin: 0;
}
#AuthBlock ul li{
    list-style: none; display: inline-block; margin: 0 5px;
}

.WishList {
    overflow: hidden;
    padding: 50px 0;
}

.WishList .block.info{
    width: 200px; height: 272px;
}
.WishList .block.info .txt{
    height: 180px; font-size: 150%;
}
.WishList .block {
    border: #F61447 1px solid;
    padding: 10px;
    float: left;
    margin: 20px;
    position: relative;
}

.WishList .block .title {
    padding: 10px 0;
    color: #333;
}

.WishList .block .del {
    position: absolute; top: -20px; right: -25px;
    color: #fff; font-size: 150%; border-radius: 50%; width: 50px; height: 50px; padding: 5px 0 0; outline:none;
}

.WishList .price {
    color: #f60; font-size: 120%; font-weight: 700;
}
.WishList .price s{
    color: #999; font-size: 90% !important; font-weight: 100;
}
.WishList .img {
    min-width: 200px;
    min-height: 200px;
    background: transparent url() no-repeat center center/cover;
}

.facebook-button:hover{
    color: #fff !important;
}

.slidecontainer {
    width: 100%;
}

.slidecontainer .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slidecontainer .slider:hover {
    opacity: 1;
}

.slidecontainer .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slidecontainer .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#progressContainer {
    margin: 20px;
    width: 50px;
    height: 50px;
}

.motivation{
    overflow: hidden;
    padding: 10px 0px;
    border: #ccc 1px solid;
    border-radius: 20px;
    text-align: left;
}

.subProductList{
    clear: both;
    margin: 10px 0;
}
.subProduct{
    width: 100%; height: 200px;background: transparent url() no-repeat center center/cover;
    border: #ccc 1px solid;
    margin: 5px 5px 0 0;
    border-radius: 10px;
    position: relative;
}
.subProduct wish-button{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.subProduct wish-button button{
    border-radius: 50%;
    text-align: center;
    width:  48px;
    padding: 10px;
}

.tp-bgimg{
    background-position: center top !important;
}

.lSGallery li{
    overflow: hidden;
    height: 40px;
    border: #ccc 1px solid; border-radius: 0px !important;
}
.lSGallery li.active{
    border-color: #555;
}

.msg{
   padding: 5px 10px; margin: 4px 0;background-color: #fffb43; color: #5a5a5a; border: #ccc 1px solid;
}

.ProductLabel{
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.ProductLabel .error{
    color: #c10000; padding: 5px 0; font-size: 90%; margin: 0; font-weight: 600;
}

.productTitle{
    text-transform: capitalize; font-size: 180%; font-weight: bold; padding: 0; margin:0;
}

.ProductInfo .amount,
.ProductLabel .amount {
    color: #FFA500; font-size: 150%; font-weight: 700;
}
.ProductInfo .amount,
.ProductLabel .amount {
    line-height: 30px;
}

.ProductLabel .ean {
    line-height: 40px;
}

.ProductLabel .heightList {
    list-style: none; display: inline-flex;
}

.ProductLabel .heightList li{
    border: #eaeaea 2px solid; padding: 2px 4px; color: #858585 !important;
}

.ProductLabel .heightList li:hover{
    opacity: .5;
}
.ProductLabel .heightList li.on{
    color: #0c0c0c !important; border-color: #333;
}

.ProductLabel .heightList li.on{
    border-color: #FFA500;
}
.lSSlideWrapper{
    background: #fff; border: #ccc 1px solid;
}

.imageProductBlock{
    width: 100%; height: 500px;
}

.mainLogo{
    background: #fff url(/web/img/logo2.jpg) no-repeat center center;
    position: absolute;
    width: 120px;
    top: 0;
    height: 79px;
    border-radius: 0px 0px 50px 50px;
    border-bottom: #eaeaea 3px solid;
    border-top: none;
}
.mainLogo:hover{
    background-color: #fff;
}

.main-img{
    min-height: 400px;
}

#MobileHeadMenu {
    overflow: hidden; display: none; height: 40px; padding-top: 0; top:0; z-index: 100; width: 100px;
}

#MobileHeadMenu .wishHeadBtn,
#MobileHeadMenu .cartHeadBtn{
    height: 39px; float: left; padding: 5px 10px;color: hotpink; cursor: pointer;
}

.mobileHead{display: none;}
.desktopHead{display: block;}

.btnRows {padding: 0;}
.btnRows .btn {border-radius: 0; font-size: 130%; font-family: "Calibri"; letter-spacing: normal;}

.nasa-single-product-scroll{margin-top: 0px;}
.product-gallery .images{margin-bottom: 0;}

@media screen and (max-width: 600px){
   #CatalogFilter{
        position: fixed; width: 100%; bottom: 0; right: 0; left: 0; z-index: 100; background: #fff; border-top: #ccc 1px solid; padding: 5px 0 5px 0;
    }
    #CatalogFilter .tool {border: none; border-radius: 0;}
    .mobileHead{display: block;}
    .desktopHead{display: none;}

    .ProductLabel{
        border:#ccc 1px solid;
        border-top: none;
        background-color: white;
        -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    }

    .imageProductBlock{
        width: 100%; height: 250px;
    }

    .lSPager{display: none;}

    .nasa-single-product-scroll{margin-top: 60px;}
    .section-element{ margin: 55px 0 0 0 !important; }

    .btnRows{position: fixed; bottom: 0; background: white; left: 0; right:0; overflow: hidden;}
    .btnRows .btn {font-size: 100%; font-family: "Calibri Light";}

    #MobileHeadMenu{ display: block; margin-top: 12px; margin-left: 160px; z-index: 10000; position: fixed;}
    #header-content{display: none;}

    .nav .cartHeadBtn,
    .nav .wishHeadBtn{
        display: none !important;
    }

    .mainLogo{
        background: transparent url(/web/img/logo_txt.jpg) no-repeat 0 center;
        height: 50px;
        border: none; border-radius: 0;
    }

    .main-img{
        min-height: 200px;
    }

    .product-item .cart, .product-item .heart{
        width: 50px; height: 50px; font-size: 110%; border-width: 3px;
    }

    .product-item .heart{
        width: 40px; height: 40px;
    }

    .toolsTtl{display: none;}
}