<div style="float: left; padding: 10px; position: relative;"
     class="card cardItemPreview">
    <div class="catalogItemPromoIcon"
         ng-if="false"
         ng-click="showChristmasPromo(product)"
         style="background-image: url(/web/img/promo_chr_2019/{{(index)>=3?(index%3+1):(index + 1)}}.svg);">&nbsp;</div>
    <a href="/product/{{product.id}}" title="{{product.title}}">
        <div style="background: transparent url({{product.img}}) no-repeat center center/contain    ;"
             class="card-img-top"></div>
    </a>
    <div class="card-body card-body-price" style="padding: 0;">
        <div class="card-title bold">{{product.title}}</div>
        <table width="100%;">
            <tr>
                <td>
                    <div wish-button product="{{product.id}}" title="{{product.title}}" class="left"></div>
                </td>
                <td align="right">
                    <div cart-button    product="{{product.id}}"
                                        price="{{product.price}}"
                                        sale-price="{{product.new_price}}" class="right"></div>
                </td>
            </tr>
        </table>
    </div>
</div>