<IfModule mod_expires.c>
  ExpiresByType text/html A1
</IfModule>

AddType text/xml .xml .xsl
AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /web/rest/

    RewriteRule .* index.php  [QSA,L]
</IfModule>